<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>LT1 - Diabetes Simulation</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Heiko Peuscher" />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
            body {
                font-family: ABeeZee;
                overflow-y: scroll;
            }
		</style>
        <link rel="stylesheet" href="./styles/LT1style.css" />
    </head>
	<body>
		<p style="text-align:center;">
			<a href="https://lt1.org/" target="_blank">
				<img alt="LoopInsighT1 Logo" 
					src="./images/LT1_logo.png" height="85">
			</a>
		</p>
		<hr/>
		<%= entrypoints %>
	</body>
</html>